body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.gallery__container {
    height: 100vh;
}
.gallery__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
    margin-bottom: 10px;
    font-weight: 500;
}
.gallery__title {
    margin: 0;
}
.gallery-view__controls {
    display: flex;
    align-items: center;
}
.icon_btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.gallery-view__btn img {
    width: 50px;
}
.gallery-items__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: calc(100% - 90px);
}
.gallery-item__wrapper {
    width: 22%;
    height: 30vh;
}
.gallery__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}
.gallery__item img {
    max-width: 90%;
    max-height: calc(100% - 40px);
}
.gallery__item p {
    margin: 15px 0 0;
    text-align: center;
}

/*LIST VIEW STYLES*/
.list-view.gallery__container.gallery1 {
    background-color: #F09D4E;
}
.list-view.gallery__container.gallery2 {
    background-color: #CE498E;
}
.list-view.gallery__container.gallery3 {
    background-color: #94CEE6;
}
.list-view .gallery-items__wrapper {
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}
.list-view .gallery-item__wrapper {
    align-items: flex-start;
    width: 100%;
    height: 30px;
}
.list-view .gallery__item {
    align-items: flex-start;
}
.list-view .gallery__item p {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
}
.list-view .gallery__item img {
    display: none;
}


/*MODAL*/
.modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal.visible {
    display: block;
}
.modal__window {
    position: relative;
    top: 20vh;
    height: 50vh;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
}
.modal__item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.modal__item img {
    height: 70%;
}
.modal__close-btn {
    position: absolute;
    right: -50px;
    top: -50px;
    width: 50px;
    height: 50px;
}
.modal__close-btn img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 768px) {
    .gallery-item__wrapper {
        width: 30%;
    }
    .gallery__header {
        height: 60px;
        padding: 0 20px;
    }
    .gallery__title {
        font-size: 24px;
    }
    .gallery-items__wrapper {
        height: calc(100% - 70px);
    }
}
@media screen and (max-width: 480px) {
    .gallery-item__wrapper {
        width: 40%;
        height: 20vh;
    }
    .gallery__title {
        font-size: 18px;
    }
}